.App {
	background-color: #9f9fdf;
	min-height: 100vh;
}

.header {
  text-align: center;
  min-height: 5%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.details-header {
  height: 15%;
  border-style: solid;
  border-color: blue;
  display: flex;
  align-items: left;
  justify-content: center;
  color: white;
}

.titleLabel {
	text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.titleText {
	height: 20%;
	text-align: left;
    clear: both;
    float:left;
    margin-right:30px;
	margin-top:15px;
	margin-bottom:10px;
}

.DetailsDiv label {
	display: inline-block;
	width: 250px;
	margin-bottom:10px;
	margin-left:10px;
}

.DetailsDiv .datepick {
	margin-left:10px;
	display: inline-block;
	width: 100px;
	margin-right: 155px;
}

.DetailsDiv input {
	display: inline-block;
	width: 100px;
	margin-right: 155px;
}

.DetailsDiv button {
	display: inline-block;
	width: 50px;
}
